<footer>
    <div class="main-content">
      <div class="left box">
        <h2>Sobre nós</h2>
        <div class="content-2">
          <h4 class="p-2">"Somos um grupo independente, e com a ideia de unir vários assuntos em apenas um lugar, fizemos este site.
            Desenvolvido por Mohamed e Hitallo, o Blog Storm conta com os mais variados temas, tendo um pequeno humor presente e sempre possuindo um conteúdo verídico"</h4>
              <div class="social">
                <a target="_blank" href="https://www.facebook.com/blogstorm"><span class="fab fa-facebook-f"></span></a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5511987116930&text=Eai%20meu%20querido%2C%20como%20est%C3%A1%3F"><span class="fab fa-whatsapp"></span></a>
                <a target="_blank" href="https://www.instagram.com/_blog_storm/"><span class="fab fa-instagram"></span></a>
              </div>
        </div>
      </div>
      <div class="center box">
        <h2>Localização e Contato</h2>
        <div class="content-2">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">São Paulo - SP</span>
          </div>

          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">(11)98711-6930</span>
          </div>

          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">contato@blogstorm.com.br</span>
          </div>
        </div>      
      </div>

      <div class="right box">
        <h2>Doe</h2>
        <div class="content-2">
          <h4 class="p-2">A sua doação será muito bem-vinda! Ajude com qualquer quantia para conseguirmos manter frequentemente todo esse conteúdo de forma gratuita</h4>
          <br>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" >
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="hitallomoreira13@gmail.com" />
            <input type="hidden" name="item_name" value="Ajude-nos a crescer mais" />
            <input type="hidden" name="currency_code" value="BRL" />
            <button class="btn-footer" name="submit" type="submit">
              <i class="icon-paypal"></i>&nbsp; Doar pelo PayPal
            </button>
            </form>            
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="bottom">
      <center>
        <div class="credit">
          <span>Desenvolvido por: <a>Tyros</a> | 
          <span class="far fa-copyright"></span> <span>2020 Todos direitos reservados.</span>
          </span>
        </div>
      </center>
    </div>
  </footer>
</body>

</html>
