<!DOCTYPE html>
<html lang="pt-br"><head>
    <meta charset="utf-8">
    <meta charset="viewport" content="width- device-width, inital-scale= 1.0">
    <meta name="description" content="Navegue pela categoria que mais te agrada">

    <title>Categorias - Blog Storm</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177365414-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177365414-1');
</script>


    <link rel="shortcut icon" href="/css/images/favicon.ico" >
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/share.css">
    <link rel="stylesheet" href="/css/cat.css">
    <link rel="stylesheet" href="/css/category.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body class="center">
      
<div class="header">
    <a href="/"><img src="/uploads/Logo-Storm-Branco-PSD.png" alt="Logo Storm Blog" loading="lazy" class="logo"></a>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
    <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
    <a href="/">Home</a>
    <a href="/category">Categorias</a>
    <a href="/about">Sobre nós</a>
    <a href="/contact">Contato</a>
    <label for="chk" class="hide-menu-btn">
      <i class="fas fa-times"></i>
    </ul>
</div>    
   <div class="maxhidth center">
    <div class="title-posts">
        <h1 class="h1-title line line-about"> Navegue na sua categoria favorita </h1>
    </div>
        <div class="xop-section">

            <ul class="xop-grid">
            <li>
                <div class="xop-box xop-img-1">
                <a href="/category/Atualidades">
                    <h3>Atualidades</h3>
                    <p>Tudo o que acontece no mundo em tempo real.</p>
                </a>
                </div>
            </li>

            <li>
                <div class="xop-box xop-img-2">
                <a href="/category/Curiosidades">
                    <h3>Curiosidades</h3>
                    <p>Coisas que você não sabia.</p>
                </a>
                </div>
            </li>

            <li>
                <div class="xop-box xop-img-3">
                <a href="/category/Educacao">
                    <h3>Educação</h3>
                    <p>Fique por dentro de vestibulares e afins.</p>
                </a>
                </div>
            </li>

            <li>
                <div class="xop-box xop-img-4">
                <a href="/category/Esportes">
                    <h3>Esportes</h3>
                    <p>Leia sobre seu esporte favorito!</p>
                </a>
                </div>
            </li>
            <li>
                <div class="xop-box xop-img-7">
                <a href="/category/Mundo-Feminino">
                    <h3>Mundo Feminino</h3>
                    <p>Um lugar especial para as melhores.</p>
                </a>
                </div>
            </li>

            <li>
                <div class="xop-box xop-img-8">
                <a href="/category/Mundo-Geek">
                    <h3>Mundo Geek</h3>
                    <p>Tudo sobre o mundo nerd.</p>
                </a>
                </div>
            </li> 

            <li>
                <div class="xop-box xop-img-6">
                <a href="/category/Saude">
                    <h3>Saúde</h3>
                    <p>Dicas para se manter saudável.</p>
                </a>
                </div>
            </li>

            <li>
                <div class="xop-box xop-img-5">
                <a href="/category/Tecnologia">
                    <h3>Tecnologia</h3>
                    <p>As mais novas tecnologias no mercado.</p>
                </a>
                </div>
            </li>
            </ul>
        </div>
    </div>    
<%- include('partials/footer.ejs')%>